build/
.settings/
.classpath
.project
.class
target/
.idea/
*.iml
*journal
HttpTraffic*.log
.jar
.DS_Store

developer_configurations/.DS_Store
developer_configurations/maven-settings/.DS_Store
developer_configurations


gen/

git.properties
