<included>
	<property name="SERVICE_NAME_TAG" value="[Skeleton]" />
	<property name="COMMON_TAG" value="[%d] [%thread] [%level] [%logger{35}]" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="com.iw2fag.lab.logging.SaaSJsonLayout">
				<jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
					<prettyPrint>false</prettyPrint>
				</jsonFormatter>
				<timestampFormat>yyyy-MM-dd' 'HH:mm:ss,SSS</timestampFormat>
				<appendLineSeparator>true</appendLineSeparator>
				<serviceName>Skeleton</serviceName>
				<loggerType>Service</loggerType>
			</layout>
		</encoder>
	</appender>
	 
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- Accept all NON-COMMUNICATION events -->
		<file>${skeleton.home}/log/skeleton.log</file>
		<append>true</append>
		<encoder>
			<pattern>${SERVICE_NAME_TAG} [Service] ${COMMON_TAG} %msg \(CLS=%class{35}\)%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${skeleton.home}/log/skeleton-%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>2</maxIndex>
		</rollingPolicy>

		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>
	</appender>

	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>
</included>