<included>
	<!-- additivity=false ensures communication data only goes to the communication log -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- deny all events with a level below INFO, that is TRACE and DEBUG -->
		<!-- 
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		-->
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
		</encoder>
	</appender>
	 
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- Accept all NON-COMMUNICATION events -->
		<file>${skeleton.home}/log/skeleton.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d [%thread] %-5level  %logger{35} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${skeleton.home}/log/skeleton-%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>9</maxIndex>
		</rollingPolicy>

		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10MB</maxFileSize>
		</triggeringPolicy>
	</appender>

	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>
</included>